@import 'reset';
@import 'variables';

@font-face {
  font-family: Castoro;
  src: url('/fonts/Castoro/Castoro-Regular.ttf') format("truetype"); 
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.heading {
  line-height: 1.2;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
